In [2]:
import pandas as pd

In [5]:
data = pd.read_csv ('employees.csv')  #read csv file by giving the specified file path
df = pd.DataFrame(data, columns= ['First Name','Gender','Salary','Bonus %','Team'])#import csv file into dataframe
df

   First Name  Gender    Salary  Bonus %             Team
0     Douglas    Male   97308.0    6.945        Marketing
1      Thomas    Male   61933.0    4.170           Others
2       Maria  Female  130590.0   11.858          Finance
3       Jerry    Male  138705.0    9.340          Finance
4       Larry    Male  101004.0    1.389  Client Services
..        ...     ...       ...      ...              ...
94      Harry    Male  130620.0    7.030            Legal
95    Heather  Female   43026.0   14.166  Client Services
96    Cynthia  Female  142321.0    1.737          Finance
97      Laura  Female  140371.0   10.620        Marketing
98       Tina  Female  100705.0   16.961        Marketing

[99 rows x 5 columns]

In [6]:

data = pd.read_csv ('employees.csv')   
df = pd.DataFrame(data, columns= ['First Name','Gender','Salary','Bonus %','Team'])
print(df.drop(['First Name'],axis=1)) #df.drop(['First Name']:- to delete the specified column from dataframe

    Gender    Salary  Bonus %             Team
0     Male   97308.0    6.945        Marketing
1     Male   61933.0    4.170           Others
2   Female  130590.0   11.858          Finance
3     Male  138705.0    9.340          Finance
4     Male  101004.0    1.389  Client Services
..     ...       ...      ...              ...
94    Male  130620.0    7.030            Legal
95  Female   43026.0   14.166  Client Services
96  Female  142321.0    1.737          Finance
97  Female  140371.0   10.620        Marketing
98  Female  100705.0   16.961        Marketing

[99 rows x 4 columns]

In [51]:
# it would be btter to check how many missing values in the dataframes before filling the missing value  
df.isnull().sum() #.isnull() :- return True if the cell has missing value and return False if the cell has a value
                  #.isnull().sum() :- return the number of missing values in each column of dataframe

First Name    0
Gender        0
Salary        7
Bonus %       5
Team          0
dtype: int64

In [104]:
df[['Salary','Bonus %']]=df[['Salary','Bonus %']].fillna((df[['Salary','Bonus %']].mean()))
#fillna() :- used to fill the missing vlaue and in this line it fill the missing value of the specified dataframes columns with mean()
print(df.isnull().sum())

First Name    0
Gender        0
Salary        0
Bonus %       0
Team          0
dtype: int64

In [12]:
gender = {'Male': 1,'Female': 0} #intializing dictionary
df['Gender'].map(gender)#mapping dataframe column with dictionary and fill the cell of the specified dataframe column with dictionary value

0     1
1     1
2     0
3     1
4     1
     ..
94    1
95    0
96    0
97    0
98    0
Name: Gender, Length: 99, dtype: int64

In [9]:
 
team = {'Marketing': 1,'Others': 2, 'Finance':3,'Client Services':4,'Legal':5,'Product':6,'Engineering':7,'Business Development':8,'Human Resources':9,'Sales':10,'Distribution':11} 
df['Team'].map(team)

0     1
1     2
2     3
3     3
4     4
     ..
94    5
95    4
96    3
97    1
98    1
Name: Team, Length: 99, dtype: int64